<template name="postPage">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Author: {{author}}</h3>
        </div>
        <div class="panel-image hide-panel-body">
            {{#each images}}
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="{{@index}}" class=""></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="{{url @index}}" alt="">
                            <div class="carousel-caption">
                                ...
                            </div>
                        </div>
                        ...
                    </div>
                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

            {{/each}}
        </div>
        <div class="panel-footer">
            Place: {{place}}
        </div>
    </div>
</template>